<div class="relative">
  <img
    type="button"
    class="w-12 h-12 rounded-full cursor-pointer"
    src="/assets/images/default-profile-picture.png"
    alt="User avatar"
    (click)="onToggleDropdown()"
  />
  @if (toggleDropdown) {
  <div
    class="z-10 bg-clr-white divide-y divide-clr-gray-2 rounded-lg shadow w-44 absolute transform: translate-y-2 right-0"
  >
    <div class="px-4 py-3 text-sm text-clr-gray-6">
      <div>{{ signedIn.firstName }} {{ signedIn.lastName }}</div>
      <div class="font-medium truncate">{{ signedIn.email }}</div>
    </div>
    <ul class="py-2 text-sm text-clr-gray-5" aria-labelledby="avatarButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-clr-gray-1">My Rents</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-clr-gray-1">Account</a>
      </li>
    </ul>
    <div class="py-1">
      <a
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-clr-gray-1"
        (click)="onSignOut()"
        >Sign out</a
      >
    </div>
  </div>
  }
</div>
