<nav class="flex justify-between items-center">
  <img
    src="/assets/images/logo/logo-black.svg"
    alt="Company Logo"
    class="w-[150px]"
  />
  <ul
    class="flex gap-10 uppercase shadow-2xl px-10 py-5 rounded-full text-clr-black bg-clr-gray-2"
  >
    <li><a (click)="scrollTo('home')">Home</a></li>
    <li><a (click)="scrollTo('latest')">Latest</a></li>
    <li><a (click)="scrollTo('why-us')">Why us</a></li>
    <li><a href="">Cars</a></li>
  </ul>
  <div class="flex gap-1">
    <a routerLink="signin">
      <button class="btn btn-primary">Sign in</button>
    </a>
    <a routerLink="signup">
      <button class="btn btn-primary-outline">Sign up</button>
    </a>
  </div>
</nav>
