<div class="wrapper pb-72 flex flex-col gap-20">
  <app-navbar></app-navbar>
  <div class="flex flex-col gap-5 max-w-[940px] mx-auto">
    @if (isLoading && !error) {
    <app-loading></app-loading>
    } @else if(!isLoading && error) {
    <app-error
      errorMessage="Something went wrong. Please try again later!"
    ></app-error>
    } @else {
    <div>
      <button class="btn btn-primary" (click)="onToggleFilterBy()">
        Filter
      </button>
    </div>
    <ul class="flex flex-wrap justify-center gap-5">
      @for (car of cars; track $index) {
      <car-card [car]="car"></car-card>
      }
    </ul>
    }
  </div>
</div>
<p-sidebar
  [(visible)]="toggleFilterBy"
  blockScroll="true"
  styleClass="w-[400px]"
>
  <ng-template pTemplate="header">
    <h2 class="text-clr-white text-[30px] font-bold">Filter By</h2>
  </ng-template>
  <form [formGroup]="form">
    <p-accordion multiple="false">
      <p-accordionTab header="Location">
        <p-listbox
          [options]="locations"
          formControlName="selectedLocation"
          [listStyle]="{ 'max-height': '220px' }"
        />
      </p-accordionTab>
      <p-accordionTab header="Pickup Date">
        <p-calendar formControlName="selectedPickupDate" [inline]="true" />
      </p-accordionTab>
      <p-accordionTab header="Price Range">
        <p-listbox
          [options]="prices"
          formControlName="selectedPrice"
          optionLabel="title"
          [listStyle]="{ 'max-height': '220px' }"
        />
      </p-accordionTab>
      <p-accordionTab header="Brand">
        <p-listbox
          [options]="brands"
          formControlName="selectedBrands"
          [listStyle]="{ 'max-height': '220px' }"
          multiple="true"
        />
      </p-accordionTab>
      <p-accordionTab header="Year">
        <p-listbox
          [options]="years"
          formControlName="selectedYears"
          [listStyle]="{ 'max-height': '220px' }"
          multiple="true"
        />
      </p-accordionTab>
      <p-accordionTab header="Fuel Type">
        <p-listbox
          [options]="fuels"
          formControlName="selectedFuel"
          [listStyle]="{ 'max-height': '220px' }"
        />
      </p-accordionTab>
      <p-accordionTab header="Gear Box">
        <p-listbox
          [options]="gears"
          formControlName="selectedGear"
          [listStyle]="{ 'max-height': '220px' }"
        />
      </p-accordionTab>
    </p-accordion>
    <div class="flex gap-2 mt-5">
      <label for="switch" class="label cursor-pointer">Available only</label>
      <p-inputSwitch inputId="switch" formControlName="selectedAvailability" />
    </div>
  </form>
</p-sidebar>
<app-footer></app-footer>
