<div class="wrapper pb-72 flex flex-col gap-20">
  <app-navbar></app-navbar>
  <div class="flex flex-col gap-5 max-w-[940px] mx-auto">
    @if (isLoading && !error) {
    <app-loading></app-loading>
    } @else if(!isLoading && error) {
    <app-error
      errorMessage="Something went wrong. Please try again later!"
    ></app-error>
    } @else {
    <div>
      <button class="btn btn-primary" (click)="onToggleFilterBy()">
        Filter
      </button>
    </div>
    <ul class="flex flex-wrap justify-center gap-5">
      @for (car of cars; track $index) {
      <car-card [car]="car"></car-card>
      }
    </ul>
    }
  </div>
</div>
<app-filter-sidebar [toggleFilterBy]="toggleFilterBy"></app-filter-sidebar>
<app-footer></app-footer>
